#hp-nav-menu ul.hp-top-nav{
	background-color: #e6e6e6;
}
.full_width,.hero_container.campaign{
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}
.full_width img{
	width: 100%;
	height: 524px;
}
.addthis_toolbox.addthis_default_style{
	position: relative;
}

#lia-body .lia-content .addthis_default_style a{
	position: absolute;
	top: 24px;
	right: 0px;
	height: 27px;
	background-color: #fff;
	background-position-y: 10px;
	background-position: 10px;
	width: 60px;
}
#lia-body .lia-content .lia-quilt-column-24{
	margin-bottom: 0;
}
.hero_container.campaign{
	left: 0;
	color: white;
}
.hero_container.campaign .hero_text {
	left: 0;
	top: 70px;
	border: 6px solid #fff;
	display: inline;
	padding: 15px!important;
	font-weight: normal;
}
.hero_container.campaign .hero_subheader {
	font-size: 30px;
	color: #fff;
	position: relative;
	left: 0;
	top: 120px;
}

.hero_container.campaign .hero_button{
	top: 110px;
	left: 0;
}
.hero_container.campaign .logoHP {
	margin-left: 25%;
}
.lia-quilt-column.lia-quilt-column-24.lia-quilt-column-single.lia-quilt-column-HeroImage {
	height: 100%;
}
#lia-body .lia-content p#teaser {
	font-size: 28px;
	color: #a3a3a3;
	width: 685px;
	margin: 0 auto!important;
	line-height: 39px!important;
	padding: 80px 0 95px!important;
	text-align: center;
}
.lia-quilt-column-LeftArticle .lia-quilt-column-alley.lia-quilt-column-alley-left, .lia-quilt-column-RightArticle .lia-quilt-column-alley.lia-quilt-column-alley-right, .blue-border{
	border-top: 7px solid #0096D6;
}
#lia-body .lia-content p.header_text{
	font-size: 24px;
}
#lia-body .lia-content p.teaser {
	font-size: 18px;
	color: #666666;
	width: 409px;
	line-height: 26px!important;
}
#lia-body .lia-content p.teaser.cc5{
	width: 620px;
	padding-bottom: 15px;
}
.lia-quilt-column.lia-quilt-column-12.lia-quilt-column-left.lia-quilt-column-LeftArticle, .lia-quilt-column-RightArticle {
	margin-bottom: 53px;
	background-color: transparent;
}
#lia-body .lia-content p.header_text, #lia-body .lia-content p.teaser {
	text-align: left;
	margin-left: 35px;
}
#lia-body .lia-content p.header_text{
	margin-top: 35px;
	margin-bottom: 11px;
}
.blue-border img,.cc_image img{
	width: 100%;
}
.image_footer{
	padding-bottom: 13px;
	text-align: left;
}
.custom_component_6{
	position: relative;
	color: #fff;
	padding-bottom: 90px;
}
.full_width{
	background-size: cover;
	background-position-x: 78%;
}
.full_width.cc6_image{
	background-image: url("http://h30657-staging.external.hp.com/t5/image/serverpage/image-id/103i9F585020176CEA2B/image-size/original?v=mpbl-1&px=-1");
	height: 510px;
	padding-top: 60px;
}
.full_width.hero_bg{  
	background-image: url("http://h30657-staging.external.hp.com/t5/image/serverpage/image-id/102i22EDA8A34F090973/image-size/original?v=mpbl-1&px=-1");
	height: 528px;
}
.cc6_text{
	position: absolute;
	top: 163px;
	text-align: left;
	margin-left: 58px;
}
#lia-body .lia-content p.cc6_quote {
	font-size: 36px;
	width: 510px;
	line-height: 50px!important;
	text-align: left;
	margin-bottom: 18px;
}
#lia-body .lia-content p.cc6_author {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2px;
}
#lia-body .lia-content p.cc6_position {
	font-size: 18px;
}
.custom_component_7{
	background: #f2f2f2 url(http://i.imgur.com/dZ0rLRT.png) no-repeat;	
	padding-bottom: 100px;
}
.cc7_header p{
	text-align: left;
	margin-left: 35px;
	font-size: 30px;
}
.cc7_image {
	width: 308px;
	display: inline-block;

}
.cc7_image img{
	width: 100%;
	display: inherit;
}
.cc7_text_wrapper{
	background-color: #fff;
}
#lia-body .lia-content .cc7_text_wrapper p{
	text-align: left;
	color: #666666;
	font-size: 18px;
	margin-left: 29px;
	margin-bottom: 0px;
	padding-top: 20px;
	width: 255px;
	padding-bottom: 30px;
}
#lia-body .lia-content .cc7_text_wrapper p.cc7_title{
	color: #000;
	font-size: 24px;
	padding-bottom: 0;
}

.custom_component_7 .cc7_image {
	margin-right: 17px;
}

.custom_component_7 .cc7_image:last-child {
	margin-right: 0;
}

.custom_component_8{
	background-color: #fff;
	text-align:center
}
.pioneer_text{
	padding-top: 76px;
	border-top: 2px solid #F2F2F7;
}
.pioneer_header{
	font-size:30px;
	color:#000;
}
#lia-body .lia-content p.pioneer_subheader{
	font-size:18px;
	width: 456px;
	margin: 0 auto;
}
img.pioneer_avatar{
	width: 88px;
	height: 88px;
	border-radius: 50%;
}
#lia-body .lia-content p.pioneer_name{
	color: #0096D6;
	font-size: 18px;
	margin-bottom: 2px;
	text-align: center;
	width: 140px;
}
#lia-body .lia-content p.pioneer_position {
	color: #666666;
	font-size: 18px;
	width: 140px;
	text-align: center;
}
#lia-body .lia-content li.pioneer {
	width: 15.384615385%;
	margin-right: 9px!important;
	display: inline-block;
	padding-bottom: 48px;
}
#lia-body .lia-content ul#business_pioneers{
	width: 855px;
	display: inline-block;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 20px;
}
#lia-body .lia-content .lia-quilt-column-06.lia-quilt-column-SocialFooter{
	width: 100%;
}

/*Feedback*/

#lia-body .lia-content .lia-panel-standard{
	background-color: transparent;
}
#lia-body .lia-content .lia-quilt-column-12{
	width: 468px;
}
.lia-quilt-column-RightArticle{
	margin-left: 28px;
}
.custom_component_3,.custom_component_4{
	background-color: #fff;
	padding-bottom: 18px;
}

.lia-quilt-row-row_5{
	background-color: #fff;
}
.custom_component_5{
	background-color: #fff;
	margin-bottom: 60px;
}
.logos {
	padding-top: 92px;
}
.node-description {
	padding-top: 3px;
	padding-left: 9px;
	padding-bottom: 35px;
}
.lia-quilt-column-alley.lia-quilt-column-alley-single ul.hp-lang-options{
	display:inline;
}

/*Diegoac changes */
/* header */
/*Putting the main container with a width bigger than the container*/
.lia-quilt.lia-quilt-officeofthe-future-header.lia-quilt-layout-headerhpex.lia-component-quilt-officeofthe-future-header {
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	background-color: #fff;
}

.lia-quilt-row.lia-quilt-row-nav{
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	background-color: #e6e6e6;
}
.lia-quilt-row-hpnav {
	width: 964px;
	margin: 0 auto;
	background-color: #fff;
}

#hp-nav-menu {
	width: 964px;
	height: 66px;
	margin: 0 auto;
}

#lia-body.BlogArticlePage .lia-content #hp-nav-menu ul.hp-top-nav {
	width: 600px;
	background-color: #e6e6e6;
}
/* end Header */

/*Body changes */
#lia-body .lia-content .lia-quilt-column .lia-quilt-column-alley-left{
	text-align: center;
}
.logoHP{
	padding-bottom: 43px;
	width: 244px;
}
.logo_firstText{
	font-size: 14px;
}
.logo_secondText{
	font-size: 24px;
	color: #0096D6;
}
#lia-body .lia-content .lia-quilt-column .lia-quilt-column-alley .hp-custom-desktop-article-image{
	padding: 0;
}
.lia-quilt-column-PostedBy img{
	max-width: 37px;
	max-height: 37px;
	border-radius: 50%;
	margin-left: 30px;
}
li.blog-bio-blurb,.lia-panel-heading-bar-wrapper,.lia-user-title,.header-nav-link.hp-overview-nav-menu{
	display:none;
}
.lia-quilt-row.lia-quilt-row-row_4{
	padding: 40px 40px 40px 70px;
}
.lia-quilt-row-row_4{
	background-color: #fff;
}
#lia-body .lia-content .lia-user-info-group .lia-user-avatar {
	float: right;
}
.lia-quilt-column-OfficeoftheFutureLogo{
	width: 100%!important;
	text-align: center;
	background: #f2f2f2 url(http://i.imgur.com/dZ0rLRT.png) no-repeat;	
	padding-top: 50px;
}
.lia-quilt-column-PostedBy{
	width: 18.4647%!important;
	position: relative;
	margin-top: 25px;
}
.lia-mark-empty { 
	width:	21%!important;
	height: 0;
}
.lia-quilt-column-Teaser{
	width: 56.2655%!important;
}
.lia-quilt-column-Headline{
	width: 56.2655%!important;
	margin-left: 23.3%!important;
}
.lia-quilt-column-Teaser p{
	font-size:24px;
	color:#a3a3a3;
	font-family: "HPSimplified-Light", "HPSimplified", arial,sans-serif;
}
.lia-quilt-column-Share{
	width:25.2698%!important;
	min-height: 209px;
}
/*.lia-quilt-column-Teaser{
	border-bottom:2px solid #f2f2f2;
}
*/
.sub-nav-title-wrapper{
	text-align: left;
}

.hpbusiness-logo {
	text-align: left;
	margin-left: -9px;
}
.node-description-text{
	width: 600px;
	text-align: left;
	margin-left: -9px;
}
.author_byText{
	/*position: absolute;
	top: 0;
	left: -20px;*/
	display: inline;
}
.author_name{
/*	position: absolute;
	top: 17px;
	left: -20px;*/
	display: inline;
}
.author_dateText{
	/*position: absolute;
	top: 35px;
	left: -20px;*/
}
.hp-custom-article-posted {
	display: none;
}
.lia-user-name{
	margin-left: -56px;
	clear: both;
	top: -15px;
	position: relative;
}
#lia-body .lia-content p.hero_text{
	font-size: 48px;
	color: #fff;
	position: relative;
	left: 75px;
	top: 152px;
	display: inline-block;
	text-align: left;
	line-height: 48px!important;
}
.hero_text_container{
	width: 963px;
	display: inline-block;
}
.hero_button{
	outline: none;
	background-image: url("/html/assets/OOTF%20Watch%20Now.png");
	background-repeat: no-repeat;
	right: 414px;
	top: 220px;
	color: transparent!important;
	position: relative;
	display: inline-block;
	width: 159px;
	height: 47px;

}
.hero_button:hover{
	background-image: url("/html/assets/OOTF%20Watch%20Now%20RO.png");
}

.hero_button .german{
	background-image: url("/html/assets/OOTF-WatchNow-DE-W.png");
}
.hero_button .german:hover{
	background-image: url("/html/assets/OOTF-WatchNow-DE-B.png");
}

.hero_button .french{
	background-image: url("/html/assets/OOTF-WatchNow-FR-W.png");
}
.hero_button .french:hover{
	background-image: url("/html/assets/OOTF-WatchNow-FR-B.png");
}

.hero_button .italian{
	background-image: url("/html/assets/OOTF-WatchNow-IT-W.png");
}
.hero_button .italian:hover{
	background-image: url("/html/assets/OOTF-WatchNow-IT-B.png");
}

.hero_button .spanish{
	background-image: url("/html/assets/OOTF-WatchNow-ES-W.png");
}
.hero_button .spanish:hover{
	background-image: url("/html/assets/OOTF-WatchNow-ES-B.png");
}

.hp-custom-article-secondary-details{
	display: none;
}
.lia-message-body-content{
	width: 56.2655%!important;
	margin-left: 23.3%!important;
}
.content_img_1{
	float: left;
	margin: 0px 0px 0px -190px;
	min-width: 670px;
	min-height: 390px;
}
#lia-body .lia-content p.content_img_1_text{
	display: inline;
	float: right;
	margin-right: -230px!important;
	width: 166px;
	color: #757575;
	font-size: 14px;
	line-height: 20px!important;
	padding-top: 58px;
}
.author_avatar{
	border-radius: 50%;
	width: 218px;
	height: 218px;
}
.lia-quilt-column-alley.lia-quilt-column-alley-single h2 {
	text-align: left;
}
.lia-quilt-column-alley.lia-quilt-column-alley-single ul{
	display: inline-flex;
	display: -webkit-inline-flex;
}
.paragraph p {
	padding-bottom: 40px!important;
	text-align: left;
	width: 450px;
}
.paragraph > p{
	font-size: 18px!important;
	margin-top: 10px!important;
}
.paragraph h2{
	font-family: "HPSimplified-Bold", "HPSimplified", arial;
	font-size: 18px!important;
	font-weight: 100!important;
}
.paragraph > h2 {
	margin-bottom: 10px!important;
	display: block!important;
}
.author_container > div{
	width: 50%;
	float: left;
}
.author_container .quote_wrapper .quote {
	font-size: 24px;
	padding-bottom: 10px!important;
}
.quote_wrapper {
	margin-top: 17%;
}
.author_container .quote_wrapper .author,.author_container .quote_wrapper .position{
	font-size: 16px;
}
.author_container .quote_wrapper .author{
	color: #0096D6;
}
.author_container .quote_wrapper .position{
	color: #a8a8a8;
}
.hero_container{
	height: 375px;
	position: absolute;
	background-color: transparent;
	top: 443px;
	left: 0;
	display: inline;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	text-align: center;
}
.blog-article-image{
	border-top: 7px solid #0096D6; 
}
.blog-article-image img{
	width: 100%;
	max-height: 377px;
	display: inherit;
}
#lia-body.BlogArticlePage .lia-content .lia-breadcrumb {
	text-align: left;
	padding-left: 9px;
}
.image_container {
	width: 450px;
	padding-top: 53px;
	padding-bottom: 60px;
}
.aside_image_container {
	width: 220px;
	height: 173px;
	background-color: #e6e6e6;
	float: right;
	left: 208px;
	position: relative;
	margin-left: -150px;
}
.aside_image_container p{
	font-size: 14px;
	padding: 8px 0 0 19px!important;
}  
.aside_image_container img {
	width: 100%;
	max-height: 100px;
}
.lia-breadcrumb {
	text-align: left!important;
}
/*End Body changes*/

.related_header {
	padding-top: 70px;
	padding-left: 30px;
	padding-bottom: 36px;
}
#lia-body .lia-content .related_header h2{
	font-size: 30px;
}
.related_article{
	background-color: #fff;
	text-align: left;
}

#lia-body .lia-content a.related_title, #lia-body .lia-content a.related_title:link,#lia-body .lia-content a.related_title:visited{
	color: #000;
	font-size: 24px;
	text-decoration: none;
	display: block;
	display: -webkit-box;
	max-width: 300px;
	height: 66px;
	margin: 0px auto;
	font-size: 24px;
	line-height: 1.375em!important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
#lia-body .lia-content p.teaserText {
	display: block;
	display: -webkit-box;
	max-width: 300px;
	height: 46.8px;
	margin: 13px auto;
	font-size: 18px;
	line-height: 1.375em!important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
}
a.related_link {
	color: #0096D6;
	font-weight: bold;
	font-size: 18px;
}

#lia-body .lia-content .related_list li{
	width: 31.9502%;
	float: left;
	margin-right: 20px;
}
#lia-body .lia-content .related_list li:last-child{
	margin-right: 0px;
}
.related_image{
	width: 100%;
	height:120px
}
.related_wrapper {
	margin-left: 22px;
	margin-top: 22px;
	padding-bottom: 30px;
}
.full_width_image{
	width: 964px;
	margin-left: -234px;
}
.full_width_image img {
	width: 100%!important;
	height: 100%!important;
}
#lia-body .lia-content p.full_width_txt{
	display: inline-block;
	width: 190px;
	float: right;
	position: relative;
	bottom: -65px;
	margin-right: 35px;
	font-size: 14px;
	color: #999999;
}
img.inline_image{
	float: left;
	margin-left: -185px;
	margin-right: 20px;
	width: 345px;
	margin-bottom: 20px;
}

/*Profile Section*/
#lia-body .lia-content p.profile_name,#lia-body .lia-content p.profile_job,#lia-body .lia-content p.profile_link{
	text-align: left;	
}
#lia-body .lia-content p.profile_name{
	color: #000;
	font-size: 36px;
	margin-bottom: 17px;
}
#lia-body .lia-content p.profile_job{
	font-size: 24px;
	margin-bottom: 12px;
}
#lia-body .lia-content p.profile_link{
	font-size: 18px;
	margin-bottom: 2.15em;
}
.custom_component_8.profiles {
	margin-left: -234px;
	width: 964px;
}
.custom_component_8.profiles p.pioneer_header{
	text-align: center;
	margin-bottom: 25px!important;
}
#lia-body .lia-content ul#business_pioneers.profile {
	width: 890px;
}
#lia-body .lia-content .lia-quilt-column-Teaser p,#lia-body .lia-content .lia-quilt-column-Headline p{
	line-height:32px!important;
}
#lia-body .lia-content .lia-quilt-column-Headline p{
	font-size: 24px!important;
}

#lia-body .lia-content .paragraph p{
	line-height:28px!important;
}

.lia-quilt-column-RecentArticles, .lia-quilt-column-RelatedArticles,.lia-quilt-row.lia-quilt-row-row_10{
	background: #f2f2f2 url(http://i.imgur.com/dZ0rLRT.png) no-repeat;
}
.author_container {
	padding-bottom: 30px;
}

#lia-body .lia-content p.quote{
	line-height: 28px!important;
}
#lia-body .lia-content hr{
	position: relative;
	top: 15px;
	border: none;
	background-color: #f2f2f2;
	height: 2px;
	width: 731px;
}
/*.lia-quilt-column-Share,.lia-quilt-column-Teaser{
border-bottom:2px solid #f2f2f2;
}*/

.autor_text{
	float: left;
	margin-left: -30px;
	height: 40px;
	text-align: right;
}
.author_image{
	position: absolute;
	right: 33px;
}