/*Diegoac changes */
/* header */
/*Putting the main container with a width bigger than the container*/
.lia-quilt.lia-quilt-officeofthe-future-header.lia-quilt-layout-headerhpex.lia-component-quilt-officeofthe-future-header {
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	background-color: #fff;
}

.lia-quilt-row.lia-quilt-row-nav{
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	background-color: #e6e6e6;
}
.lia-quilt-row-hpnav {
	width: 964px;
	margin: 0 auto;
	background-color: #fff;
}

#hp-nav-menu {
	width: 964px;
	height: 66px;
	margin: 0 auto;
}

#lia-body.BlogArticlePage .lia-content #hp-nav-menu ul.hp-top-nav {
	width: 600px;
	background-color: #e6e6e6;
}
/* end Header */

/*Body changes */
#lia-body .lia-content .lia-quilt-column .lia-quilt-column-alley{
	text-align: center;
}
.logoHP{
	/*width: 37px;*/
	/*height: 37px;*/
}
.logo_firstText{
	font-size: 14px;
}
.logo_secondText{
	font-size: 24px;
	color: #0096D6;
}
#lia-body .lia-content .lia-quilt-column .lia-quilt-column-alley .hp-custom-desktop-article-image{
	padding: 0;
}
.lia-quilt-column-PostedBy img{
	max-width: 37px;
	max-height: 37px;
	border-radius: 50%;
	margin-left: 30px;
}
li.blog-bio-blurb,.lia-panel-heading-bar-wrapper,.lia-user-title,.header-nav-link.hp-overview-nav-menu{
	display:none;
}
.lia-quilt-row.lia-quilt-row-row_4{
	padding: 65px 40px 40px 70px;
}
.lia-quilt-row-row_2,.lia-quilt-row-row_4,.lia-quilt-row-row_5,.lia-quilt-row-row_7{
	background-color: #fff;
}
#lia-body .lia-content .lia-user-info-group .lia-user-avatar {
	float: right;
}
.lia-quilt-column-OfficeoftheFutureLogo{
	width: 100%!important;
}
.lia-quilt-column-PostedBy{
	width: 18.4647%!important;
	position: relative;
}
.lia-mark-empty { 
	width:	21%!important;
}
.lia-quilt-column-Teaser,.lia-quilt-column-Headline{
	width: 56.2655%!important;
}
.lia-quilt-column-Teaser p{
	font-size:24px;
	color:#a3a3a3;
}
.lia-quilt-column-Share{
	width:25.2698%!important;
	min-height: 159px;
}
.lia-quilt-column-Share,.lia-quilt-column-Teaser{
	border-bottom:2px solid #f2f2f2;
}
.sub-nav-title-wrapper{
	text-align: left;
}
#hp-nav-menu .topics-header-nav-menu .hp-sub-nav .hp-nav-col {
	margin-left: -15px;
}
.hpbusiness-logo {
	text-align: left;
	margin-left: -9px;
}
.node-description-text{
	width: 600px;
	text-align: left;
	margin-left: -9px;
}
.author_byText{
	position: absolute;
	top: 0;
	left: -20px;
}
.author_name{
	position: absolute;
	top: 17px;
	left: -20px;
}
.author_dateText{
	position: absolute;
	top: 35px;
	left: -20px;
}
.hp-custom-article-posted {
	display: none;
}
.lia-user-name{
	margin-left: -56px;
	clear: both;
	top: -15px;
	position: relative;
}
.hero_text{
	font-size: 48px;
	color: #fff;
	position: relative;
	left: 38.5%;
	top: 151px;
	display: inline;
	font-weight: bold;
}
.hero_button{
	left: 5.8%;
	top: 207px;
	font-size: 23px;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px!important;
	position: relative;
	display: inline;
}
.hero_button a{
	color:#fff!important;
}
.hp-custom-article-secondary-details{
	display: none;
}
.lia-message-body-content{
	width: 56.2655%!important;
	margin-left: 23.3%!important;
}
.content_img_1{
	float: left;
	margin: 0px 0px 0px -190px;
	min-width: 670px;
	min-height: 390px;
}
#lia-body .lia-content p.content_img_1_text{
	display: inline;
	float: right;
	margin-right: -230px!important;
	width: 166px;
	color: #757575;
	font-size: 14px;
	line-height: 20px!important;
}
.lia-message-body-content p {
	text-align: justify;
}
.author_avatar{
	border-radius: 50%;
	width: 218px;
	height: 218px;
}
.lia-quilt-column-alley.lia-quilt-column-alley-single h2 {
	text-align: left;
}
.lia-quilt-column-alley.lia-quilt-column-alley-single ul{
	display: inline-flex;
	display: -webkit-inline-flex;
}
.paragraph {
	padding-bottom: 60px;
	text-align: left;
	width: 450px;
}
.paragraph > p{
	font-size: 18px!important;
}
.paragraph h2{
	font-family: "HPSimplified-W15", "HPSimplified", arial,sans-serif!important;
	font-size: 25px!important;
	font-weight: 100!important;
}
.author_container > div{
	width: 50%;
	float: left;
}
.author_container .quote_wrapper .quote {
	font-size: 24px;
	padding-bottom: 10px!important;
}
.quote_wrapper {
	margin-top: 17%;
}
.author_container .quote_wrapper .author,.author_container .quote_wrapper .position{
	font-size: 16px;
}
.author_container .quote_wrapper .author{
	color: #0096D6;
}
.author_container .quote_wrapper .position{
	color: #a8a8a8;
}
.hero_container{
	width: 964px;
	height: 379px;
	position: absolute;
	background-color: transparent;
	top: 49%;
	left: -5%;
	display: inline;
}
.blog-article-image{
	border-top: 7px solid #0096D6; 
}
.blog-article-image img{
	width: 100%;
	max-height: 377px;
}
#lia-body.BlogArticlePage .lia-content .lia-breadcrumb {
	text-align: left;
	padding-left: 9px;
}
.image_container {
	width: 450px;
	padding-top: 53px;
	padding-bottom: 60px;
}
.aside_image_container {
	width: 220px;
	height: 165px;
	background-color: #e6e6e6;
	float: right;
	left: 208px;
	position: relative;
}
.aside_image_container p{
	font-size: 14px;
	padding: 8px 0 0 19px!important;
}  
.aside_image_container img {
	width: 100%;
	max-height: 100px;
}
.lia-breadcrumb {
	text-align: left!important;
}
/*End Body changes*/

.related_header {
	padding-top: 70px;
	padding-left: 30px;
	padding-bottom: 36px;
}
#lia-body .lia-content .related_header h2{
	font-size: 30px;
}