#hp-nav-menu ul.hp-top-nav{
	background-color: #e6e6e6;
}
.full_width,.hero_container.campaign{
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}
.full_width img{
	width: 100%;
	height: 524px;
}
.addthis_toolbox.addthis_default_style{
	position: relative;
}

#lia-body .lia-content .addthis_default_style a{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 27px;
	background-color: #fff;
	background-position-y: 10px;
	background-position: 10px;
	width: 60px;
}
#lia-body .lia-content .lia-quilt-column-24{
	margin-bottom: 0;
}
.hero_container.campaign{
	left: 0;
	top: -447px;
	color: white;
}
.hero_container.campaign .hero_text {
	left: 0;
	top: 70px;
	display: block;
}
.hero_container.campaign .hero_subheader {
	font-size: 36px;
	color: #fff;
	position: relative;
	left: 0;
	top: 50px;
}
.hero_container.campaign .hero_button{
	top: 60px;
	left: 0;
}
.hero_container.campaign .logoHP {
	margin-left: 25%;
}
.lia-quilt-column.lia-quilt-column-24.lia-quilt-column-single.lia-quilt-column-HeroImage {
	height: 528px;
}
#lia-body .lia-content p#teaser {
	font-size: 28px;
	color: #a3a3a3;
	width: 806px;
	margin: 0 auto!important;
	line-height: 32px!important;
	padding: 80px 0 95px!important;
}
.lia-quilt-column-LeftArticle .lia-quilt-column-alley.lia-quilt-column-alley-left, .lia-quilt-column-RightArticle .lia-quilt-column-alley.lia-quilt-column-alley-right, .blue-border{
	border-top: 7px solid #0096D6;
}
#lia-body .lia-content p.header_text{
	font-size: 24px;
}
#lia-body .lia-content p.teaser {
	font-size: 18px;
	color: #666666;
}
.lia-quilt-column.lia-quilt-column-12.lia-quilt-column-left.lia-quilt-column-LeftArticle, .lia-quilt-column-RightArticle {
	margin-bottom: 60px;
	background-color: transparent;
}
#lia-body .lia-content p.header_text, #lia-body .lia-content p.teaser {
	text-align: left;
	margin-left: 35px;
}
#lia-body .lia-content p.header_text{
	margin-top: 35px;
}
.blue-border img,.cc_image img{
	width: 100%;
}
.image_footer{
	text-align: left;
}
.custom_component_6{
	position: relative;
	color: #fff;
}
.full_width.cc6_image{
	padding-top: 60px;
	background: #f2f2f2 url(http://i.imgur.com/dZ0rLRT.png) no-repeat;
}
.cc6_text{
	position: absolute;
	top: 163px;
	text-align: left;
	margin-left: 58px;
}
#lia-body .lia-content p.cc6_quote {
	font-size: 48px;
	width: 590px;
	line-height: 62px!important;
	text-align: left;
	margin-bottom: 18px;
}
#lia-body .lia-content p.cc6_author {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2px;
}
#lia-body .lia-content p.cc6_position {
	font-size: 18px;
}