@charset "UTF-8";
body {
  -ms-overflow-style: scrollbar; }

.lia-quilt-category-page-biz-now2016.lia-quilt-layout-bn2016-campaign {
  margin-bottom: 40px; }

.lia-component-quilt-biz-now2016-header {
  left: 0;
  position: fixed;
  z-index: 1000;
  padding: 25px 0 0;
  background-color: #FFFFFF;
  width: 100%;
  color: #333333; }
  .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; }
    .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1:before, .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1:after {
      content: " ";
      display: table; }
    .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1:after {
      clear: both; }
  @media (min-width: 768px) {
    .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1 {
      width: 750px; } }
  @media (min-width: 992px) {
    .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1 {
      width: 730px; } }
  @media (min-width: 1200px) {
    .lia-component-quilt-biz-now2016-header .lia-quilt-row-row_1 {
      width: 940px; } }

body#lia-body .lia-content {
  font-size: 18px;
  line-height: 1.428571429;
  color: #666; }
  body#lia-body .lia-content .lia-quilt-row-footer {
    font-size: 18px; }

#lia-body .lia-content .lia-quilt-column-Header_Column h1 {
  margin-bottom: 6px;
  font-family: "HPSimplified_Rg";
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.15px;
  line-height: 32px; }
#lia-body .lia-content .lia-quilt-column-Header_Column h2 {
  font-family: "HPSimplified_Lt";
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.11px;
  line-height: 32px; }

.hp-bn-m-twitter_btn {
  text-align: center;
  overflow: hidden; }
  .hp-bn-m-twitter_btn.bottom {
    width: 680px;
    float: none;
    padding-bottom: 15px; }
  .hp-bn-m-twitter_btn.footer {
    width: 100%;
    background-color: #fff; }

.hp-bn-m-twitter_btn a {
  color: #fff !important; }

.lia-quilt-layout-bn2016-campaign > .lia-quilt-row.lia-quilt-row-row_2 {
  padding-top: 230px; }

.lia-quilt-blog-article-page-biz-now2016 > .lia-quilt-row.lia-quilt-row-row_2 {
  padding-top: 244px;
  position: relative;
  z-index: 2; }

.lia-quilt-blog-article-page-biz-now2016 > .lia-quilt-row.lia-quilt-row-row_4 {
  position: relative;
  z-index: 1; }

.hp-bn-m-breadcrumbs-container {
  width: 100%;
  background-color: white;
  position: fixed;
  height: 76px;
  top: 140px;
  margin-left: -10px;
  z-index: 2; }

.hp-bn-m-breadcrumbs:after, .hp-bn-m-breadcrumbs:before {
  background-color: #fff; }

.hp-bn-m-breadcrumbs.fixed {
  top: 186px;
  height: 30px; }

.hp-bn-m-nav .menu_container {
  width: 940px; }

.hp-bn-m-quote p {
  width: 100%; }

#lia-body .lia-content .lia-quilt-column-Main-article p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px; }
  #lia-body .lia-content .lia-quilt-column-Main-article p.teaser {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px; }
    #lia-body .lia-content .lia-quilt-column-Main-article p.teaser::first-letter {
      font-family: "HPSimplified_Bd";
      font-size: 85px;
      font-size: 8.5rem;
      float: left;
      line-height: 70px;
      padding-right: 5px; }
  #lia-body .lia-content .lia-quilt-column-Main-article p.readTime {
    font-family: HPSimplified_Rg;
    font-size: 14px;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 42px; }
  #lia-body .lia-content .lia-quilt-column-Main-article p.subheader {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px; }
  #lia-body .lia-content .lia-quilt-column-Main-article p.author {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px; }
#lia-body .lia-content .lia-quilt-column-Main-article h2, #lia-body .lia-content .lia-quilt-column-Main-article h3 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #0096D6;
  line-height: 30px;
  letter-spacing: .31px;
  padding-bottom: 15px;
  margin-bottom: 0; }
#lia-body .lia-content .lia-quilt-column-Main-article blockquote {
  font-family: HPSimplified_Lt;
  font-size: 36px;
  font-size: 3.6rem;
  color: #0096D6;
  letter-spacing: .15px;
  line-height: 36px;
  width: 100%;
  float: right;
  text-align: right;
  padding-bottom: 44px; }
#lia-body .lia-content .lia-quilt-column-Main-article ol {
  margin: 0;
  padding: 0; }
  #lia-body .lia-content .lia-quilt-column-Main-article ol li {
    list-style-type: none;
    counter-increment: step-counter;
    margin-bottom: 10px; }
    #lia-body .lia-content .lia-quilt-column-Main-article ol li::before {
      content: counter(step-counter);
      color: #0096D6;
      font-family: HPSimplified_Bd;
      font-size: 36px;
      font-size: 3.6rem;
      display: block; }
    #lia-body .lia-content .lia-quilt-column-Main-article ol li ul {
      padding: 0;
      padding-bottom: 30px; }
      #lia-body .lia-content .lia-quilt-column-Main-article ol li ul li::before {
        font-size: 12px;
        font-size: 1.2rem;
        content: "•";
        display: inline;
        color: #0096D6;
        vertical-align: middle;
        margin-right: 10px; }
      #lia-body .lia-content .lia-quilt-column-Main-article ol li ul p, #lia-body .lia-content .lia-quilt-column-Main-article ol li ul span {
        display: inline; }
#lia-body .lia-content .lia-quilt-column-Main-article img {
  width: 100%; }

#lia-body .lia-content .hp-bn-m-menu-dropdown {
  height: 160px; }
  #lia-body .lia-content .hp-bn-m-menu-dropdown .menu_container ul {
    padding-top: 20px !important; }
    #lia-body .lia-content .hp-bn-m-menu-dropdown .menu_container ul li {
      padding-bottom: 24px !important; }
#lia-body .lia-content .hp-bn-m-related-articles ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  #lia-body .lia-content .hp-bn-m-related-articles ul li {
    margin-right: 10px; }
#lia-body .lia-content .hp-bn-m-related-articles h3 {
  font-family: "HPSimplified_Lt";
  font-size: 24px;
  font-size: 2.4rem;
  padding-bottom: 18px;
  line-height: 26px; }
  #lia-body .lia-content .hp-bn-m-related-articles h3 a {
    color: inherit; }
#lia-body .lia-content .hp-bn-m-card:hover {
  box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
  -moz-transform: translate3d(0, -3px, 0);
  -o-transform: translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, -3px, 0);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0); }
#lia-body .lia-content .hp-bn-m-card.homepage {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 300px; }
  #lia-body .lia-content .hp-bn-m-card.homepage img {
    height: 204px; }
  #lia-body .lia-content .hp-bn-m-card.homepage .text_container {
    padding: 24px 10px;
    padding-bottom: 0; }
  #lia-body .lia-content .hp-bn-m-card.homepage .recommended-text p {
    margin: 0; }
  #lia-body .lia-content .hp-bn-m-card.homepage .text_container h1 {
    font-family: "HPSimplified_Lt";
    font-size: 24px;
    font-size: 2.4rem;
    padding-bottom: 15px;
    line-height: 27px; }
    #lia-body .lia-content .hp-bn-m-card.homepage .text_container h1 a {
      color: inherit; }
  #lia-body .lia-content .hp-bn-m-card.homepage .text_container p {
    line-height: 24px;
    margin-bottom: 25px; }
  #lia-body .lia-content .hp-bn-m-card.homepage p.readTime {
    margin-bottom: 6px; }
#lia-body .lia-content .hp-bn-m-card.aside {
  top: 75vh;
  right: 0;
  position: relative;
  left: 5px;
  width: 210px; }
#lia-body .lia-content .hp-bn-readMore {
  text-align: center;
  border-radius: 2px;
  width: 300px;
  margin: 0 auto;
  height: 45px;
  position: relative; }
  #lia-body .lia-content .hp-bn-readMore.business {
    border: 2px solid #EA4463; }
  #lia-body .lia-content .hp-bn-readMore.technology {
    border: 2px solid #21CCD1; }
  #lia-body .lia-content .hp-bn-readMore.resources {
    border: 2px solid #7C3893; }
  #lia-body .lia-content .hp-bn-readMore span {
    font-family: "HPSimplified_Rg";
    line-height: 32px;
    position: absolute;
    top: 5px; }
    #lia-body .lia-content .hp-bn-readMore span.category {
      color: #666;
      font-size: 18px;
      font-size: 1.8rem;
      letter-spacing: 0.15px;
      left: 23px; }
    #lia-body .lia-content .hp-bn-readMore span.read_more {
      color: #333;
      text-transform: uppercase;
      font-size: 16px;
      font-size: 1.6rem;
      position: absolute;
      right: 23px; }
      #lia-body .lia-content .hp-bn-readMore span.read_more i {
        top: -1px;
        position: relative; }
#lia-body .lia-content .hp-bn-m-tags {
  width: 100%; }
  #lia-body .lia-content .hp-bn-m-tags ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: 10px;
    padding-right: 10px; }
    #lia-body .lia-content .hp-bn-m-tags ul li a {
      padding: 10px 30px;
      border-radius: 2px;
      font-size: 16px;
      font-size: 1.6rem;
      color: #666;
      border: 1px solid #0096D6; }
      #lia-body .lia-content .hp-bn-m-tags ul li a:hover {
        color: #FFF;
        background-color: #0096D6; }
      #lia-body .lia-content .hp-bn-m-tags ul li a.business {
        border: 1px solid #EA4463; }
        #lia-body .lia-content .hp-bn-m-tags ul li a.business:hover {
          color: #FFF;
          background-color: #EA4463; }
      #lia-body .lia-content .hp-bn-m-tags ul li a.technology {
        border: 1px solid #21CCD1; }
        #lia-body .lia-content .hp-bn-m-tags ul li a.technology:hover {
          color: #FFF;
          background-color: #21CCD1; }
      #lia-body .lia-content .hp-bn-m-tags ul li a.resources {
        border: 1px solid #7C3893; }
        #lia-body .lia-content .hp-bn-m-tags ul li a.resources:hover {
          color: #FFF;
          background-color: #7C3893; }
#lia-body .lia-content .hp-bn-m-pagination {
  text-align: center;
  margin: 10px; }
  #lia-body .lia-content .hp-bn-m-pagination a.readmore {
    color: #333;
    text-transform: uppercase;
    font-family: "HPSimplified_RG"; }
  #lia-body .lia-content .hp-bn-m-pagination a.indicator {
    color: #666;
    text-decoration: none; }
  #lia-body .lia-content .hp-bn-m-pagination span {
    color: #21CCD1; }
    #lia-body .lia-content .hp-bn-m-pagination span.indicator {
      color: #666;
      text-decoration: none;
      border-bottom: 1px solid #21CCD1; }
#lia-body .lia-content .hp-bn-m-social-icons {
  padding-left: 6px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #lia-body .lia-content .hp-bn-m-social-icons {
      right: 10px; } }
  #lia-body .lia-content .hp-bn-m-social-icons ul li {
    padding-top: 15px; }
#lia-body .lia-content .hp-bn-m-breadcrumbs ul {
  margin-top: -1px;
  padding: 0;
  margin-bottom: 2px;
  list-style: none; }
#lia-body .lia-content .hp-bn-m-search-container {
  position: relative; }
  #lia-body .lia-content .hp-bn-m-search-container .search_input {
    background-color: #fff;
    width: 220px;
    float: right;
    border: 1px solid #BBB;
    border-radius: 30px;
    outline: 0;
    font-family: HPSimplified_Lt;
    font-size: 16px;
    font-size: 1.6rem;
    color: #333;
    letter-spacing: .15px;
    line-height: 32px;
    padding-left: 15px;
    height: 44px; }
    #lia-body .lia-content .hp-bn-m-search-container .search_input::-webkit-input-placeholder {
      color: #333; }
    #lia-body .lia-content .hp-bn-m-search-container .search_input:-moz-placeholder {
      color: #333; }
    #lia-body .lia-content .hp-bn-m-search-container .search_input::-moz-placeholder {
      color: #333; }
    #lia-body .lia-content .hp-bn-m-search-container .search_input:-ms-input-placeholder {
      color: #333; }
    #lia-body .lia-content .hp-bn-m-search-container .search_input.mobile {
      width: 0;
      border-width: 0; }
  #lia-body .lia-content .hp-bn-m-search-container .search_submit {
    border: 1px solid #0096D6;
    border-radius: 100px;
    background-color: #FFF;
    color: #0096D6;
    height: 44px;
    width: 44px;
    position: absolute;
    top: 0;
    right: 0; }

.hp-bn-m-social-icons.fixed > span {
  cursor: pointer; }

.hp-bn-m-nav .menu_container .link-container a.business.active {
  left: 4px;
  position: relative; }

.hp-bn-m-nav .menu_container .link-container a.resources.active {
  left: -11px;
  position: relative; }

.hp-bn-m-nav .menu_container .link-container a.technology.active {
  position: relative;
  left: -3px; }

.cta {
  color: #fff !important;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  background: transparent url("http://h20435.www2.hp.com/skins/images/79DA185674CCD40563F77795C9544CAE/hp_expierence-439108329/images/button_primary_right_tf.png") no-repeat 100% 0;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px; }

.at-share-btn {
  display: block !important;
  max-height: 3pc !important; }

.sumome-scrollbox-form h2.sumome-scrollbox-heading {
  font-family: "HPSimplified_Rg"; }
.sumome-scrollbox-form div.sumome-scrollbox-text, .sumome-scrollbox-form .sumome-scrollbox-input, .sumome-scrollbox-form .sumome-scrollbox-button {
  font-family: "HPSimplified_Lt" !important; }
.sumome-scrollbox-form a.sumome-scrollbox-link {
  display: none !important; }

.sumome-scrollbox-template-default .sumome-scrollbox-form button[style] {
  text-transform: uppercase !important; }

a .at-icon-wrapper[style] {
  transform: scale(1.2, 1.2);
  margin-bottom: 5px; }
  a .at-icon-wrapper[style] svg.at-icon {
    transform: scale(1.2, 1.2); }

/*# sourceMappingURL=overwrite.css.map */
