.lia-component-quilt-biz-now2016-mobile-header {
    padding: 9px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    height: 130px;
}